:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}
*{
    border-radius:8px;
}
html{
    margin: 0 auto;
    max-width: 1200px;
    background: var(--primary);
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}
img{
    max-width:100%;
    /* min-height: 200px; */
}
a{
    text-decoration:none;
    color:var(--primary);
}

.btn{
    display:inline-block;
    padding: 0.6rem 1.3rem;
    background-color: var(--dark);
    color:var(--light);
    border:0;
    bottom: 0px;
}
.btn:hover{
    position:relative;
    bottom: 3px;
    transition:0.15s;
}
.main-nav ul{
    display:flex;
    justify-content:space-evenly;
    padding:0px;
    list-style:none;
}

.main-nav a{
    display:inline-block;
    color:black;
    padding:12px 50px;
    min-width: 20%;
    text-transform:uppercase;
    background-color:var(--primary);
    box-shadow:var(--shadow);
    text-align:center;
}
.main-nav a:hover{
    color:var(--light);
    background:var(--dark);
    transition: 0.15s;
}
.container-1{
    display:grid;
    gap: 2em;
    margin: 2em 0;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    'showcase showcase showcase box-1'
    'showcase showcase showcase box-2';
    
}
.showcase{
    grid-area: showcase;
    min-height:400px;
    background-image: url(alexandre-debieve-FO7JIlwjOtU-unsplash.jpg);
    background-size:cover;
    background-position:center;
    max-height:100%;
    color:var(--light);
    padding:2.5rem;
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:center;
    box-shadow: var(--shadow);
}
.showcase h1{
    font-size:4rem;
}
.cont-1-box-1, .cont-1-box-2{
    color:var(--dark);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* padding: 2rem 0; */
    /* margin-bottom:30px; */
    /* text-align:center; */
    box-shadow: var(--shadow);
}
.cont-1-box-1 p, .cont-1-box-2 p{
    font-size: 2rem;
}
.cont-1-box-1{
    grid-area: box-1;
}
.cont-1-box-2{
    grid-area: box-2;
}
.boxes{
    display:grid;
    grid-gap:20px;
    grid-template-columns: repeat(4,1fr);
    padding: 40px 0 40px 0;
}
.box{
    color:var(--dark);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px;
    margin-bottom:20px;
    text-align:center;
    box-shadow: var(--shadow);
}

.portfolio{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
    justify-items:center;
}

footer{
    padding:40px;
    background-color:var(--dark);
    color:var(--light);
    text-align:center;
    margin: 30px 0;
}

/* Media Queries */

@media(max-width: 900px){
    .boxes{
        display:grid;
        grid-gap:20px;
        grid-template-columns: repeat(2,1fr);
    }
    .portfolio{
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        justify-items:center;
    }
}
@media(max-width: 730px){
    .container-1{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
        grid-template-areas:
        'showcase'
        'box-1'
        'box-2';
    }
    .cont-1-box-1, .cont-1-box-2{
        width:325px;
        height: 425px;
    }
    .showcase h1{
        font-size: 2.5em;
    }
}
@media(max-width: 600px){
    .main-nav ul{
        display:block;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .main-nav a{
        display:block;
        margin: 20px 20px;
        padding: 20px 0;
    }
}
@media(max-width: 500px){
    .boxes{
        display:grid;
        grid-gap:20px;
        grid-template-rows: repeat(4,400px);
        grid-template-columns: 1fr;
    }
    .portfolio{
        display:grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        justify-items:center;
    }
}
@media(max-width: 450px){
    html{
        margin:0px;
        width:100%;
    }
}